/* || general */

body {
    font-family: 'Roboto', sans-serif;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #343D33;
    border-radius: 30px;
    cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: #283826;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

*::selection {
    background-color: #343D33;
    color: white;
}

.max-width--style {
    max-width: 1200px;
    width: 100%;
}

.default-button {
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.1px;
    cursor: pointer;
    transition: all 0.2s;
}

.default-button--green {
    background-color: #475F45;
    border: 2px solid transparent;
    color: white;
}

.default-button--green:hover {
    background-color: #1e2b1d;
}

.default-button--white {
    color: var(--Primary, #475F45);
    border: 2px solid var(--Primary, #475F45);
    background-color: transparent;
}

.default-button--white:hover {
    background-color: #283826;
    color: white;
    border: 2px solid #283826;
}

/* || header */

.main-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    position: fixed;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 9;
}

.main-header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-header__left {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main-header__heading {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.main-header__mist-gardens {
    color: var(--Primary, #343D33);
    font-size: 23px;
    font-weight: 500;
    letter-spacing: 2.3px;
}

.main-header__subtitle {
    color: var(--Gray-1, #333);
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    letter-spacing: 0.15px;
}

.main-header__right {
    max-width: 730px;
    width: 100%;
}

.main-header__nav-list {
    display: flex;
    max-width: 796px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.main-header__nav-item a {
    color: var(--Primary, #475F45);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.1px;
}

.main-header__nav-item a:hover {
    text-decoration: underline;
}

.main-header__nav-item button:hover {
    background-color: #475F45;
    color: white;
}

.hamburger-menu {
    width: 20px;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 4px;
    display: none;
    position: relative;
    z-index: 11;
}

.hamburger-menu__line {
    height: 0.2rem;
    width: 20px;
    background-color: #343D33;
    border-radius: 20px;
    flex-shrink: 0;
    transition: all 0.4s;
}

.hamburger-menu.active .hamburger-menu__line:nth-child(1) {
    transform: translateY(7.7px) rotate(45deg);
    background-color: white;
}

.hamburger-menu.active .hamburger-menu__line:nth-child(2) {
    opacity: 0;
}

.hamburger-menu.active .hamburger-menu__line:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
    background-color: white;
}

@media screen and (max-width: 1040px) {
    .main-header__right {
        width: 20px;
    }

    .main-header__nav-list {
        flex-direction: column;
        position: absolute;
        top: -100vh;
        left: 0;
        right: 0;
        max-width: 1040px;
        width: 100%;
        background-color: #475F45;
        height: 100vh;
        justify-content: flex-start;
        gap: 40px;
        padding: 23px;
        z-index: 10;
        transition: all 0.5s;
        background-image: url('../images/header-background.svg');
        background-repeat: no-repeat;
        background-position: right bottom;
    }

    .main-header__nav-item a {
        color: white;
    }

    .main-header__nav-item button {
        color: white;
        border: 2px solid white;
    }

    .main-header__nav-item button:hover {
        background-color: white;
        color: #475F45;
    }

    .main-header__nav-list::before {
        content: 'Menu';
        display: inline-block;
        color: var(--white, #FFF);
        text-align: center;
        font-size: 34px;
        font-weight: 400;
        line-height: 110%;
        font-family: 'Libre Baskerville', serif;
        margin-bottom: 70px;
    }

    .main-header__nav-list.active {
        top: 0;
    }

    .hamburger-menu {
        display: flex;
    }
}

/* || adventure section */

.adventure-section {
    margin-top: 85px;
    min-height: 831px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.adventure-section__heading {
    color: var(--Header-text, #343D33);
    font-family: "Libre Baskerville";
    font-size: 57px;
    font-weight: 400;
    line-height: 110%;
    max-width: 538px;
    width: 100%;
    margin-bottom: 16px;
}

.adventure-section__buttons {
    display: flex;
    gap: 16px;
}

.adventure-section__text {
    color: var(--text-body-copy, #414840);
    font-size: 25px;
    font-weight: 300;
    line-height: 150%;
    max-width: 470px;
    width: 100%;
    margin-bottom: 32px;
}

.adventure-section__right img {
    max-width: 478px;
    width: 100%;
}

@media screen and (max-width: 1076px) {
    .adventure-section {
        justify-content: center;
        text-align: center;
        gap: 60px;
    }

    .adventure-section__left {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .adventure-section__buttons {
        justify-content: center;
    }

    .adventure-section__heading {
        font-size: 45px;
    }

    .adventure-section__text {
        font-size: 22px;
    }
}

@media screen and (max-width: 375px) {
    .adventure-section__heading {
        font-size: 34px;
    }

    .adventure-section__text {
        font-size: 20px;
    }
}

/* || discover section */

.discover {
    min-height: 831px;
    background-color: #343D33;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 96px 20px;
    background-image: url('../images/section-background-1.svg');
    background-repeat: no-repeat;
    background-position: right center;
}

.discover__main-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.discover__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}


.discover__Left img {
    max-width: 534px;
    width: 100%;
}

.discover__img-phone {
    display: none;
}

.discover__heading {
    color: var(--white, #FFF);
    font-family: "Libre Baskerville";
    font-size: 45px;
    font-weight: 400;
    line-height: 110%;
    max-width: 417px;
    width: 100%;
    margin-bottom: 16px;
}

.discover__text {
    color: var(--white, #FFF);
    font-size: 20px;
    font-weight: 400;
    line-height: 150%;
    max-width: 401px;
    width: 100%;
    margin-bottom: 32px;
}

.discover__right button {
    color: white;
    border: 2px solid white;
}

.discover__right button:hover {
    background-color: white;
    color: #343D33;
    border: 2px solid white;
}

.discover__bottom {
    display: flex;
    justify-content: center;
}

.discover__bottom img {
    max-width: 1075px;
    width: 100%;
}

@media screen and (max-width: 1011px) {
    .discover {
        background-position: right bottom;
    }

    .discover__img-phone {
        display: inline-block;
        max-width: 534px;
        width: 100%;
    }

    .discover__bottom {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .discover {
        background-size: contain;
    }

    .adventure-section__heading {
        font-size: 34px;
    }

    .discover__text {
        font-size: 16px;
    }
}

/* || news */

.news {
    min-height: 865px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 90px 20px;
    background-image: url('../images/section-background-3.svg');
    background-repeat: no-repeat;
    background-position: top -180px right;
}

.news__main-container {
    display: flex;
    flex-direction: column;
    max-width: 1300px;
}

.news__heading {
    align-items: flex-start;
    margin-bottom: 60px;
}

.news__heading-text {
    color: var(--Header-text, #343D33);
    font-family: "Libre Baskerville";
    font-size: 45px;
    font-weight: 400;
    line-height: 110%;
    margin-bottom: 20px;
}

.news__all-posts {
    display: flex;
    align-items: center;
    gap: 20px;
}

.news__line {
    flex-basis: 131px;
    height: 2px;
    background-color: #475F45;
}

.news__all-posts a {
    color: var(--Primary, #475F45);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 2.1px;
}

.news__all-posts a i {
    transition: all 0.2s;
}

.news__all-posts a:hover {
    text-decoration: underline;
}

.news__all-posts a:hover i {
    transform: translateX(5px);
}

.news__top-news {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.news__left-card {
    flex-basis: 520px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news__left-card img {
    max-width: 520px;
    width: 100%;
}

.news__left-card-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.news__cards-heading {
    color: var(--Primary, #475F45);
    font-family: "Libre Baskerville";
    font-size: 23px;
    font-weight: 700;
    line-height: 110%;
}

.news__cards-text {
    color: var(--text-body-copy, #414840);
    font-size: 16px;
    line-height: 150%;
}

.news__cards-date {
    color: var(--Header-text, #343D33);
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    font-style: italic;
}

.news__right-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.news__right-card {
    display: flex;
    gap: 20px;
    align-items: center;
    max-width: 630px;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

.news__right-card-text {
    max-width: 354px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.news__right-card img {
    max-width: 236px;
    width: 100%;
}

.news__right-line {
    content: '';
    display: inline-block;
    width: 100%;
    height: 2px;
    background-color: #C4C4C4;
}

@media screen and (max-width: 1193px) and (min-width: 653px) {
    .news__left-card {
        flex-direction: row;
        display: flex;
        flex-basis: 700px;
        gap: 24px;
        align-items: center;
    }

    .news {
        background-image: none;
    }

    .news__left-card img {
        max-width: 392px;
    }
}

@media screen and (max-width:653px) {

    .news__left-card,
    .news__right-card {
        text-align: center;
    }

    .news {
        background-image: none;
    }
}

/* || footer */

footer {
    background-color: #414840;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
}

.footer-top__left {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-top__left img {
    max-width: 221px;
    width: 100%;
}

.footer-top__left p {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: white;
    max-width: 269px;
    width: 100%;
}

.footer-top__middle p {
    font-family: 'Libre Baskerville';
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    margin-bottom: 12px;
}

.footer__nav-items {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer__nav-item a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
}

.footer-top__middle .footer__nav-item a:hover {
    text-decoration: underline;
}

.footer-top__right p {
    font-family: 'Libre Baskerville';
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    color: white;
    margin-bottom: 16px;
}

.footer-top__logos {
    display: flex;
    gap: 12px;
}

.footer__bottom {
    background-color: #343D33;
    color: white;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    align-self: stretch;
    display: flex;
    justify-content: center;
    padding: 20px;
}

@media screen and (max-width: 601px) {
    .footer-top {
        flex-direction: column;
        justify-content: center;
        text-align: center;
        gap: 40px;
    }

    .footer-top__left {
        align-items: center;
    }

    .footer-top__logos {
        justify-content: center;
    }
}